Whatsapp_chatbot.json
{
  "name": "Whatsapp chatbot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        220,
        0
      ],
      "id": "f927de95-51ab-40c3-a239-847154e9dfc4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat Received').item.json.contacts[0].wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        360,
        220
      ],
      "id": "a1ea5470-4595-4f93-9437-a55aa8c6b99b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "657946314063650",
        "recipientPhoneNumber": "923007652877",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        580,
        0
      ],
      "id": "50594554-bede-4618-bd1b-2f5f50b6cef8",
      "name": "WhatsApp Business Cloud",
      "webhookId": "68ffd634-ed3e-4cbe-a8ed-4b7a6ffd44e1",
      "credentials": {
        "whatsAppApi": {
          "id": "3Y83rv3RQu9T50nb",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -260,
        0
      ],
      "id": "4bb5b6b9-a7e9-4be3-a038-398455b57ba6",
      "name": "Chat Received",
      "webhookId": "7c1fecb8-ad65-482f-a290-7e31b93294e9",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "MDl6IpHpBLXxbdwR",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        220,
        200
      ],
      "id": "ddef8bdd-a273-4e98-98b2-bf0d92d2c2c5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "qpyAkSkrKQPDRqRT",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e8a4631e-835b-4de4-8acb-6df577b9b456",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -20,
        0
      ],
      "id": "964727df-9b91-42ee-a33b-f493ec707f24",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9783cbf5-76b8-4d4c-8623-c5ee5b6336a7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aa6fe02f54fda81aa4b5449aea2fca075a02012e025fe999cf0a5af662a54491"
  },
  "id": "gu0oUy9OU7z7z3GC",
  "tags": []
}